@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(//fonts.googleapis.com/css?family=Anton:300,400,700);

body {
  margin:0;
  font-family:'Lato', sans-serif;
  color: #999;
}

a, a:visited {
  color:#FF5949;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

ul li {
  display:inline;
  margin:0 1.2em;
}

p {
  margin:2em 0;
  color:#555;
}

.respdemo{margin:2em;}

.respdemo div{margin:0.25em;}

.phone, .tablet, .desktop{
  background:red;
}

#logo{font-family:'Anton',sans-serif;
      font-size:30px;
      color:black;
      text-align:center;
      }

#navbar{text-align:center;
       margin:0px;
       padding:0px;}

.horizontal-bar{background:orange;
                height:3px;
}

footer{text-align:center;}

@media only screen and (max-width: 479px) {
.phone{background:blue;}
#logo{ font-size:20px; }
}

@media only screen and (min-width: 480px) and (max-width: 959px) {
.tablet{background:blue;}
#logo{ font-size:30px; }
}

@media only screen and (min-width:960px) {
.desktop{background:blue;}
#logo{ font-size:40px; }
}




